.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.map-container{
  width: 85%;
  height: 80vh;
  margin: 0 auto;
}

#map{
  height: 640px!important;
  position: relative;
}

#info-riesgo{

    display: none;
    background-color: white;
    border: 1px solid black;
    bottom: 30px;
    height: auto;
    padding: 10px;
    position: absolute;
    left: 30px;
    width: 30%;
    z-index: 9999;

}

#panel-info h2 {
    font-size: 14px;
}

dd, dt{
    font-size: 12px;
}

dt{
    line-height: 1rem;
}
